.container {
  margin-left: 260px;
  max-width: 770px;
}
.msgBar {
  width: 684px;
  height: 56px;
  border: 1px solid #bcc1caff;
  border-radius: 3px;
  box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f;
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
.msgBar input {
  appearance: none;
  border: none;
  outline: none;
  margin-left: 23px;
  margin-right: 194px;
  width: 371px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  word-break: break-all;
  word-wrap: break-word;
}
.msgBar img:first-child {
  width: 28px;
  height: 28px;
  margin-left: 24px;
}
.msgBar img:last-child {
  width: 20px;
  height: 20px;
  margin-right: 24px;
}
.msgBar img:hover {
  cursor: pointer;
}
.msgBar input::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #0095a9ff;
}
.helpText {
  font-family: "Inter", sans-serif;
  font-size: 8px;
  font-weight: 400;
  line-height: 14px;
  color: #171a1fff;
  margin-left: 50px;
  margin-bottom: 68px;
}
.introBox {
  width: 750px;
  height: 88px;
  border: 1px solid #bcc1caff;
  border-radius: 3px;
  box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f;
  margin-bottom: 14px;
}
.introBox h2 {
  margin-top: 15px;
  margin-left: 32px;
  font-family: "Epilogue", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  color: #171a1fff;
}
.introBox div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 12px 0 15px 32px;
}
.introBox div p {
  margin: 0 8px 0 0;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #6e7787ff;
}
.introBox div img {
  width: 20px;
  height: 20px;
}
.introBox div img:hover {
  cursor: pointer;
}
.caret {
  position: absolute;
  top: 395px;
  left: 1037px;
  width: 20px;
  height: 20px;
}
.caret:hover {
  cursor: pointer;
}
.scrollableWindow {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 282px);
  overflow-y: scroll;
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 4px;
  }
}
.scrollableWindow:hover {
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #979dac61;
    border-radius: 10px;
  }
}
@media (max-width: 1060px) {
  .scrollableWindow {
    max-height: calc(100vh - 214px);
  }
  .introBox {
    width: 600px;
  }
  .msgBar {
    width: 534px;
  }
  .msgBar input {
    margin-right: 100px;
  }
  .caret {
    right: 30px;
    left: auto;
  }
  .helpText {
    margin-bottom: 0;
  }
}
@media (max-width: 865px) {
  .introBox {
    width: 500px;
  }
  .msgBar input {
    margin-right: 0;
  }
  .msgBar {
    width: 500px;
  }
}
@media (max-width: 768px) {
  .container {
    margin-left: 0;
    margin: 0 auto;
  }
  .msgBar {
    width: calc(100vw - 50px);
    margin: 0 auto;
  }
  .msgBar input {
    margin-right: calc(100% - 494px);
  }
  .introBox {
    width: calc(100vw - 50px);
    margin: 14px auto;
  }
  .scrollableWindow {
    max-height: calc(100vh - 182px);
  }
  .helpText {
    margin-left: 0;
    text-align: center;
  }
}
@media (max-width: 540px) {
  .msgBar img:first-child {
    width: 20px;
    height: 20px;
    margin-left: 5px;
  }
  .msgBar input {
    width: 300px;
    margin-right: 0;
    margin-left: 5px;
  }
  .introBox h2 {
    margin: 0;
    margin-top: 5px;
    text-align: center;
  }
  .introBox div {
    margin: 0;
    justify-content: center;
    height: 50px;
  }
  .msgBar img:last-child {
    margin-right: 5px;
    float: right;
  }
  .msgBar {
    justify-content: space-evenly;
  }
}
