.container {
  background-color: #323842;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.container header {
  width: 100%;
}
.logo {
  margin-top: 32px;
  margin-left: 32px;
  height: 50px;
  border-radius: 0px;
}
.loginContainer {
  margin: 0 auto;
  width: 540px;
  height: 480px;
  background: #171a1fff;
  border-radius: 0px 8px 8px 0px;
  box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f;
  text-align: center;
}
.footerText {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
  color: #ffffffff;
  text-align: center;
  line-height: 26px;
}
.loginContainer h2 {
  font-family: "Epilogue", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffffff;
  margin-bottom: 5px;
}
.loginContainer h5 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #ffffffff;
  margin-top: 0px;
  margin-bottom: 30px;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inputContainer {
  border: 1px solid #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2px;
}
.inputContainer input {
  color: #fff;
  width: 230px;
  height: 35px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  border-radius: 0 4px 4px 0;
  background: #171a1fff;
  border: none;
  outline: none;
}
.inputContainer img {
  width: 18px;
  height: 18px;
  padding: 8px;
  padding-left: 15px;
}
.inputContainer img {
  filter: invert(66%) sepia(8%) saturate(361%) hue-rotate(183deg)
    brightness(89%) contrast(90%);
}
.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 276px;
  margin-top: 12px;
}
.options span {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #9095a0ff;
}
.options span:hover {
  cursor: pointer;
  text-decoration: underline;
}
.loginBtn {
  font-family: "Inter", sans-serif;
  width: 276px;
  padding: 10px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #ffffffff;
  background: #4069e5ff;
  border: none;
  border-radius: 4px;
  margin-top: 25px;
}
.loginBtn:hover {
  background: #2655e1ff;
  cursor: pointer;
}
.loginBtn:hover:active {
  background: #1941b8ff;
}
.loginBtn:disabled {
  opacity: 0.4;
}
input[type="checkbox"] {
  margin: 0;
}
.checkbox {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox input {
  display: none;
}
.checkbox .outerSquare {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border-width: 1px;
  margin-right: 5px;
  background-color: #fff;
}
.outerSquare img {
  padding-bottom: 2px;
}
.outerSquare:hover,
.checkbox label:hover {
  cursor: pointer;
}
.error {
  margin: 0;
  margin-top: 10px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #ffffffff;
  color: red;
  font-weight: 400;
}
@media (max-width: 768px) {
  .loginContainer {
    width: 450px;
    height: 450px;
  }
}
@media (max-width: 576px) {
  .logo {
    height: 40px;
  }
  .loginContainer {
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 450px) {
  .logo {
    height: 30px;
    margin-top: 20px;
    margin-left: 15px;
  }
  .loginContainer {
    width: 325px;
    height: 350px;
  }
  .loginContainer h2 {
    font-size: 20px;
  }
  .loginContainer h5 {
    font-size: 14px;
  }
  .inputContainer input {
    width: auto;
  }
  .options span,
  .checkbox {
    font-size: 12px;
  }
  .checkbox .outerSquare {
    width: 12px;
    height: 12px;
  }
  .loginBtn {
    width: 237px;
  }
}
