.senderContainer {
  background: #12a9bcff;
  border-radius: 3px;
  box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 664px;
  width: fit-content;
  float: right;
  margin-bottom: 14px;
}
.senderContainer p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #ffffffff;
  margin: 5px 8px 5px 24px;
  word-break: break-all;
  word-wrap: break-word;
}
.senderContainer img {
  width: 20px;
  height: 20px;
  margin-right: 24px;
}
.senderContainer img:hover {
  cursor: pointer;
}
@media (max-width: 1060px) {
  .senderContainer {
    max-width: 514px;
  }
}
@media (max-width: 865px) {
  .senderContainer {
    max-width: 414px;
  }
}
@media (max-width: 540px) {
  .senderContainer {
    max-width: 300px;
  }
  .senderContainer img {
    margin-right: 0;
  }
  .senderContainer p {
    margin-left: 10px;
  }
}
